{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class='container'>
    <h1>Abhinav Abhishek</h1>

    <div class="text-center">
        <img src="{% static 'project/myimg.jpg' %}" alt="myImage">
        <h2>Lead Engineer(ML) at Digit Insurance</h2>
        <h3>Lives in Bengaluru</h3>
        <h3>Wanderlust</h3>
    </div>
    <h2>Projects</h2>
    <div class='row'>
        {% for project in project_list %}

        <div class="col-sm-3">
            <div class="card text-center" style="width: 20rem;box-shadow: 1px 8px 16px 1px rgb(193, 194, 153);">
                <br>
                <a href="{{project.url}}"><img style="height:90%;width:90%;" src="{{ project.image.url }}"
                        class="card-img-top" alt="{{project.title}}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <a href="{{project.url}}" class="btn btn-success">{{project.title}} Preview</a>
                </div>
                <br>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}